Beaker==1.9.1
beautifulsoup4==4.6.0
bottle==0.12.13
cachetools==3.1.0
certifi==2017.11.5
chardet==3.0.4
ez-setup==0.9
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.18.0
idna==2.6
Jinja2==2.10.1
MarkupSafe==1.0
mysql-connector-python==8.0.11
oauthlib==3.0.1
Pillow==6.2.0
protobuf==3.5.2.post1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycurl==7.43.0.1
PyYAML==5.4
reportlab==3.5.12
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.11.0
slackbot==0.5.1
slacker==0.9.60
uritemplate==3.0.0
urllib3==1.25.3
websocket-client==0.46.0
