{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>{{ entity.get_description() }}</h3>
      
      {% if entity.get_error_messages()|length > 0 %}
        {% for error_message in  entity.get_error_messages() %}
          {{ error_message }}
        {% endfor %}
      {% endif %}
      <form action="/admin/account-titles/confirm" method="POST">
        勘定科目<input type="text" name="account_title_name" value="{{ entity.get_account_title_name() }}"/>
        勘定科目分類区分<select name="account_title_classification_type">
          {# TODO ValueObjectから取得し、ループする #}
          <option value="1" {% if entity.get_account_title_classification_type() == 1 %}selected{% endif %}>資産</option>
          <option value="2" {% if entity.get_account_title_classification_type() == 2 %}selected{% endif %}>負債</option>
          <option value="3" {% if entity.get_account_title_classification_type() == 3 %}selected{% endif %}>資本</option>
          <option value="4" {% if entity.get_account_title_classification_type() == 4 %}selected{% endif %}>費用</option>
          <option value="5" {% if entity.get_account_title_classification_type() == 5 %}selected{% endif %}>収益</option>
        </select>
        <input type="reset" value="リセット"/>
        <input type="submit" value="確認"/>
      </form>
      <a href="/admin/account-titles">勘定科目一覧へ</a>
      
    </article>
{% endblock %}
