{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>{{ entity.get_description() }}</h3>
      
      <form action="/admin/languages/{{ entity.get_language_id() }}/words/confirm" method="POST">
        <input id="google_api_search" type="button" value="検索する" class="w150" />
        <section class="input_area">
          <div>
            <div class="label200">カテゴリ</div>
            <div class="inline-block">{{ entity.get_language_name() }}</div>
          </div>
          <div>
            <div class="label200">綴り</div>
            <div class="inline-block"><input id="word_spell" type="text" name="word_spell" value="" /></div>
          </div>
          <div>
            <div class="label200">説明</div>
            <div class="inline-block"><textarea id="word_explanation" name="word_explanation"></textarea></div>
          </div>
          <div>
            <div class="label200">発音</div>
            <div class="inline-block"><input id="word_pronunciation" type="text" name="word_pronunciation" /></div>
          </div>
          <div>
            <div class="label200">備考</div>
            <div class="inline-block"><textarea name="word_note"></textarea></div>
          </div>
        </section>
        <section class="button_area">
          <a href="/admin/languages/{{ entity.get_language_id() }}/words"><input type="button" value="一覧へ" class="w150" /></a>
          <input type="reset" value="リセット" class="w150" />
          <input type="submit" value="確認" class="w150" />
        </section>
      </form>
    </article>
{% endblock %}
