{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>{{ entity.get_description() }}</h3>
      
      {{ entity.get_language_name() }}
      <form action="/admin/languages/{{ entity.get_language_id() }}/words/confirm" method="POST">
        <div>Spell <input type="text" name="word_spell" value="" /></div>
        <div>Explanation <textarea name="word_explanation"></textarea></div>
        <div>Pronounciation <input type="text" name="word_pronounciation" /></div>
        <div>Note <textarea name="word_note"></textarea></div>
        <div>
          <input type="reset" value="リセット" />
          <input type="submit" value="確認" />
        </div>
      </form>
      <a href="/admin/words">単語一覧へ</a>
      
    </article>
{% endblock %}
