{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>{{ entity.get_description() }}</h3>
      
      <form action="/admin/languages/{{ entity.get_language_id() }}/words/{{ entity.get_word_id() }}/confirm" method="POST">
        {{ entity.get_word_id() }}
        <input type="text" name="word_spell" value="{{ entity.get_word_spell() }}" />
        <textarea name="word_explanation">{{ entity.get_word_explanation() }}</textarea>
        <input type="text" name="word_pronounciation" value="{{ entity.get_word_pronounciation() }}" />
        {{ entity.get_word_is_learned() }}
        <textarea name="word_note">{{ entity.get_word_note() }}</textarea>
        <input type="submit" value="確認" />
      </form>
      <a href="/admin/languages/{{ entity.get_language_id() }}/words">単語一覧へ</a>
      
    </article>
{% endblock %}
