{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>{{ entity.get_description() }}</h3>
      
      <section class="error_message">
      {% for error_message in entity.get_error_messages() %}
        {{ error_message }}
      {% endfor %}
      </section>
      <section class="button_area">
        <a href="/admin/links/create"><input type="button" value="新規登録" class="w150" /></a>
      </section>
      <section class="table_area">
        <table>
          <thead></thead>
          <tbody>
            <th class="w200">カテゴリ</th>
            <th class="w200">サイト名</th>
            <th class="w200">URL</th>
            <th class="w150">操作</th>
            {% for entity in entity.get_link_entity_list() %}
            <tr>
              <td>{{ entity.get_link_id() }}{{ entity.get_link_category_name() }}</td>
              <td><a href="{{ entity.get_link_url() }}" target="_blank">{{ entity.get_link_site_name() }}</a></td>
              <td>{{ entity.get_link_url() }}</td>
              <td>
                <form id="link{{ entity.get_link_id() }}" action="/admin/links/{{ entity.get_link_id() }}" method="GET">
                  <input type="hidden" name="link_id" value="{{ entity.get_link_id() }}"/>
                  <input type="submit" value="詳細" class="w50" />
                  <input type="button" value="削除" class="w50" onclick="JavaScript:if(confirm('削除してもよろしいですか。')){submitByPostMethod('link{{ entity.get_link_id() }}', '/admin/links/delete')}" />
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      {% if entity.get_max_page() > 1 %}
      <section>
        {% if entity.get_current_page() > 1 %}
        <a href="/admin/links?p=1">&lt;prev</a>
        {% endif %}
        {% for num in range(entity.get_max_page()) %}
          {% if entity.get_current_page() == num + 1 %}
          <span>{{ num + 1 }}</span>
          {% else %}
          <span><a href="/admin/links?p={{ num + 1 }}">{{ num + 1 }}</a></span>
          {% endif %}
        {% endfor %}
        {% if entity.get_current_page() < entity.get_max_page() %}
        <a href="/admin/links?p={{ entity.get_current_page() + 1 }}">next&gt;</a>
        {% endif %}
      </section>
      {% endif %}
    </article>
{% endblock %}
