{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>{{ entity.get_description() }}</h3>
      
      <table>
        <thead></thead>
        <tbody>
          {% for entity in entity.get_link_entity_list() %}
          <tr>
            <td>{{ entity.get_link_id() }}</td>
            <td>{{ entity.get_link_category_id() }}</td>
            <td>{{ entity.get_link_site_name() }}</td>
            <td>{{ entity.get_link_url() }}</td>
            <td>
              <form id="link{{ entity.get_link_id() }}" action="/admin/links/{{ entity.get_link_id() }}" method="GET">
                <input type="hidden" name="link_id" value="{{ entity.get_link_id() }}"/>
                <input type="submit" value="詳細へ" />
                <input type="button" value="削除" onclick="JavaScript:if(confirm('削除してもよろしいですか。')){submitByPostMethod('link{{ entity.get_link_id() }}', '/admin/links/delete')}" />
              </form>
            </td>
          </tr>
          {% endfor %}
          <a href="/admin/links/create">新規登録</a>
        </tbody>
      </table>
    </article>
{% endblock %}
