<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="./public/css/common.css"/>
  <script src="./public/js/vendor/jquery-3.2.1.min.js"></script>
  <script src="./public/js/common.js"></script>
</head>
<body>
  <header>
    資料
    <section class="description">
      <p>アイコンをクリックすると、新しいタブでそのテーマのページを全て開きます。</p>
      <ul id="event_button_ul"></ul>
    </section>
  </header>

  <section>
    <h2>リンク</h2>
    <section>
      <table id="links">
        <tbody>
          <tr>
            <th>連絡・仕様調整</th>
            <td><a href="https://mail.google.com/mail/#inbox" target="_blank">gmail</a></td>
          </tr>
          <tr>
            <th>共有フォルダ</th>
          </tr>
          <tr>
            <th>外部開発ツール</th>
            <td><a href="https://github.com/JunFuruya" target="_blank">Github</a></td>
          </tr>
          <tr>
            <th>メトリクス、外部サービス</th>
          </tr>
          <tr>
            <th>開発サーバ環境</th>
          </tr>
          <tr>
            <th>インフラ設計書</th>
          </tr>
          <tr>
            <th>開発共通</th>
          </tr>
          <tr>
            <th>API開発設計書</th>
          </tr>
          <tr>
            <th>Web版設計書関連</th>
          </tr>
          <tr>
            <th>参考プロジェクト</th>
          </tr>
          <tr>
            <th>phpunit</th>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section id="main">
    <section class="column">
      <h1>日々のとど</h1>
      <section>
        <h2>簡易とど</h2>
        <section>
          <textarea id="quick_memo" cols="60" rows="20">
          </textarea>
        </section>
      </section>
      <section>
        <h2>vagrant</h2>
        <section>
         【仮想環境起動】
          <p class="console">
            $ vagrant up
          </p>
        </section>
      </section>
    </section>

    <section class="column right">
      <section>
      </section>
    </section>
  </section>
  <footer>
    &copy; 2018
  </footer>
</body>
</html>