{% extends "template/layout/base.html" %}
{% block navi %}
  {% include 'template/layout/navi.html' %}
{% endblock %}

{% block content %}
    <article>
      <h2>{{ entity.get_title() }}</h2>
      <h3>Index</h3>
      
      <section>
        <textarea cols="130" rows="20"></textarea>
      </section>
      <section>
        <div>
          <h3>プルリクテンプレ</h3>
        </div>
        <div>
          <textarea cols="60" rows="16">
[Prefix]-[Number] チケットタイトルや対応内容の説明

**対応の背景**


**関連する課題**


**動作確認可能なURLや手順**


**実装のポイント**


**特に心配な点や確認してほしい点**</textarea>
        </div>
        <div>
          <h3>文字列入力テスト用サンプル文字列</h3>
        </div>        <div>
          <textarea>あいうえおかきくけこ
アイウエオカキクケコ
1234567890
ABCDEFGHIJ</textarea>
        </div>
      </section>
    </article>
{% endblock %}
