{% extends "template/layout/base.html" %}
{% block navi %}
  {# No Left Column #}
{% endblock %}

{% block content %}
  <article>
    <form action="/admin/login" method="POST">
      <section class="error_message">
      {% for error_message in entity.get_error_messages() %}
        {{ error_message }}
      {% endfor %}
      </section>
      <section>
        <div class="mt10">
          <div class="w100 inline-block">ログインID</div>
          <div class="inline-block"><input name="username" type="text" value="{{ entity.get_username() }}" class="w200" /></div>
        </div>
        <div class="mt5">
          <div class="w100 inline-block">パスワード</div>
          <div class="inline-block"><input name="password" type="password" value="" class="w200"/></div>
        </div>
        <div class="mt10">
          <input type="submit" value="サインイン" class="w200" />
        </div>
      </section>
    </form>
  </article>
{% endblock %}
