{% extends "template/layout/base.html" %}
{% block navi %}
  {# No Left Column #}
{% endblock %}

{% block content %}
  <article>
    <form action="/admin/login" method="POST">
      <section class="error_message">
      {% for error_message in entity.get_error_messages() %}
        {{ error_message }}
      {% endfor %}
      </section>
      <section>
        <input name="username" type="text" value=""/>
        <input name="password" type="password" value=""/>
        <input type="submit" value="Login" />
      </section>
    </form>
  </article>
{% endblock %}
