<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="{# TODO: implement #}" />
  <meta name="keyword" content="{# TODO: implement #}" />
  <meta name="description" content="{{ entity.get_description() }}" />
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/css/sp/common.css" media="screen and (max-width: 750px)" />
  <link rel="stylesheet" type="text/css" href="/public/css/pc/common.css" media="screen and (min-width: 751px)" />
  <script src="/public/js/vendor/jquery-3.2.1.min.js"></script>
  <script src="/public/js/common.js"></script>
  {% for file in entity.get_js_files() %}
  <script src="/public/js/{{ file }}"></script>
  {% endfor %}
  <title>Hideout|{{ entity.get_title() }}</title>
</head>
<body>
  {% include 'template/layout/header.html' %}
  <section id="main">
    {% block navi %}{% endblock %}
    {% block content %}{% endblock %}
  </section>
  {% include 'template/layout/footer.html' %}
</body>
</html>
