    <nav id="menu">
      <section class="menu_category">外部開発ツール</section>
      <ul>
        <li>
          <a href="https://github.com/">
            <section class="menu_label">Github</section>
            <section class="menu_description">ソースコードを管理します。</section>
          </a>
        </li>
        <li>
          <a href="">
            <section class="menu_label">Swagger Editor</section>
            <section class="menu_description">Api仕様書を作成します。</section>
          </a>
        </li>
        <li>
          <a href="">
            <section class="menu_label">Draw IO</section>
            <section class="menu_description">詳細設計書を作成します。</section>
          </a>
        </li>
      </ul>
      <section class="menu_category">マスタ管理</section>
      <ul>
        <li>
          <a href="/admin/link-categories">
            <section class="menu_label">リンクカテゴリマスタ管理</section>
            <section class="menu_description">リンクを分類するためのカテゴリを登録、編集、削除します。</section>
          </a>
        </li>
        <li>
          <a href="/admin/links">
            <section class="menu_label">リンクマスタ管理</section>
            <section class="menu_description">よく使うリンクを登録、編集、削除します。</section>
          </a>
        </li>
        <li>
          <a href="/admin/languages">
            <section class="menu_label">言語マスタ管理</section>
            <section class="menu_description">単語帳の言語を登録、編集、削除します。</section>
          </a>
        </li>
        <li>
          <a href="/admin/languages/words">
            <section class="menu_label">単語マスタ管理</section>
            <section class="menu_description">単語帳のデータを登録、編集、削除します。</section>
          </a>
        </li>
        <li>
          <a href="/admin/account-titles">
            <section class="menu_label">勘定科目マスタ管理</section>
            <section class="menu_description">勘定科目を登録、編集、削除します。</section>
          </a>
        </li>
        <li>
          <a href="/admin/users">
            <section class="menu_label">ユーザマスタ管理</section>
            <section class="menu_description">ユーザを登録、編集、削除します。</section>
          </a>
        </li>

      </ul>
    </nav>
