    <nav id="menu">
      {# TODO リンク一覧を表示する #}
      <section class="menu_category">メインメニュー</section>
      <ul>
        <!--
        <li class="spMenuItem">
          <a href="/admin/mails">
            <section class="menu_label">SC宛メール送信画面</section>
            <section class="menu_description">SC社のご担当者様に対してメールを送信します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          {# TODO 後でリンク先を一覧画面に変更する #}
          <a href="/admin/cover-letter/1/pdf">
            <section class="menu_label">受託管理表</section>
            <section class="menu_description">受託のステータスを管理します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/">
            <section class="menu_label">貸借対照表</section>
            <section class="menu_description">貸借対照表を管理します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin">
            <section class="menu_label">損益計算書</section>
            <section class="menu_description">損益計算書を管理します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin">
            <section class="menu_label">キャッシュフロー計算書</section>
            <section class="menu_description">キャッシュフロー計算書を管理します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/journal-entries">
            <section class="menu_label">仕訳元帳</section>
            <section class="menu_description">勘定科目を登録、編集、削除します。</section>
          </a>
        </li>
        -->
        <li class="spMenuItem">
         <a href="/admin/languages/words">
            <section class="menu_label">単語帳</section>
            <section class="menu_description">自分だけの単語帳を編集します。</section>
          </a>
        </li>
      </ul>
      <section class="menu_category">マスタ管理</section>
      <ul>
        <li class="spMenuItem">
          <a href="/admin/link-categories">
            <section class="menu_label">リンクカテゴリマスタ管理</section>
            <section class="menu_description">リンクを分類するためのカテゴリを登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/links">
            <section class="menu_label">リンクマスタ管理</section>
            <section class="menu_description">よく使うリンクを登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/languages">
            <section class="menu_label">言語マスタ管理</section>
            <section class="menu_description">単語帳の言語を登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/clients">
            <section class="menu_label">取引先マスタ管理</section>
            <section class="menu_description">取引先情報を登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/client-addresses">
            <section class="menu_label">取引先住所マスタ管理</section>
            <section class="menu_description">取引先の住所情報を登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/clients-personnel">
            <section class="menu_label">取引先担当者マスタ管理</section>
            <section class="menu_description">取引先の担当者の情報を登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/account-titles">
            <section class="menu_label">勘定科目マスタ管理</section>
            <section class="menu_description">勘定科目を登録、編集、削除します。</section>
          </a>
        </li>
        <li class="spMenuItem">
          <a href="/admin/users">
            <section class="menu_label">ユーザマスタ管理</section>
            <section class="menu_description">ユーザを登録、編集、削除します。</section>
          </a>
        </li>
      </ul>
    </nav>
